# Bird Buddy Credentials
USERNAME="your_email@example.com"
PASSWORD="your_password"

# Optional Downloader Configuration
DOWNLOAD_DIR="./downloads"
INTERVAL=0  # Set to > 0 (seconds) for continuous loop daemon mode
MAX_PAGES=0  # 0 for unlimited / all pages

# Optional Custom Output Templates
# DIR_TEMPLATE="{feeder_name}/{species_name}"
# FILENAME_TEMPLATE="{year}{month}{day}_{hour}{minute}{second}_{media_id_short}.{ext}"
